<font color='#315aa0'>**Generación datos artificiales**</font>
---

## <font color='#b0aeae'>**Índice**</font>

1. Descripción del notebook
2. Configuraciones
   * Importación de librerías
   * Paths
   * Paleta de Colores del Proyecto

# <font color='#315aa0'>**Descripción del notebook**</font>

# <font color='#315aa0'>**Cofiguraciones**</font>

## <font color='#c37171'>**Importación de librerías**</font>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

import kagglehub

from tqdm import tqdm

import os
from pathlib import Path
from typing import Tuple, Callable, List

import warnings

In [2]:
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

RANDOM_SEED = 42

## <font color='#c37171'>**Paths**</font>

In [3]:
# Obtiene el path actual
PROJECT_PATH = os.getcwd()

src = Path('src')
DATA_PATH = PROJECT_PATH / src

img = Path('img')
IMG_PATH = PROJECT_PATH / img

models = Path('models')
MODELS_PATH = PROJECT_PATH / models

reports = Path('reports')
REPORTS_PATH = PROJECT_PATH / reports

dirs = [DATA_PATH, IMG_PATH, MODELS_PATH, REPORTS_PATH]


for directory in dirs:
    if not directory.exists():
        directory.mkdir(parents=True)
        print(f'Directorio creado:\n{directory}\n')
    else:
        print(f'El directorio ya existe:\n{directory}\n')

El directorio ya existe:
C:\Users\Ignacio\JupyterScripts\Fintech_NC\src

El directorio ya existe:
C:\Users\Ignacio\JupyterScripts\Fintech_NC\img

El directorio ya existe:
C:\Users\Ignacio\JupyterScripts\Fintech_NC\models

El directorio ya existe:
C:\Users\Ignacio\JupyterScripts\Fintech_NC\reports

## <font color='#c37171'>**Paleta de Colores del Proyecto**</font>

**Bordós / Rojos**

<span style="display:inline-block; width:20px; height:20px; background:#620c0c; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#8b1f1f; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#a14b4b; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#c37171; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#e29c9c; margin-right:5px;"></span>

**Grises / Neutros**

<span style="display:inline-block; width:20px; height:20px; background:#5a5858; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#8c8a8a; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#b0aeae; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#d3d1d1; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#eae7e6; margin-right:5px;"></span>

**Azules**

<span style="display:inline-block; width:20px; height:20px; background:#0d1b3d; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#152a55; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#1e3a6c; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#274a84; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#315aa0; margin-right:5px;"></span>

**Cremas / Mostazas**

<span style="display:inline-block; width:20px; height:20px; background:#FCB53B; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#FDB860; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#FDC584; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#FDD2A9; margin-right:5px;"></span> 
<span style="display:inline-block; width:20px; height:20px; background:#FDE0CE; margin-right:5px;"></span>

In [4]:
BORDO_1, BORDO_2, BORDO_3, BORDO_4, BORDO_5 = '#620c0c', '#8b1f1f', '#a14b4b', '#c37171', '#e29c9c' 
GRIS_1, GRIS_2, GRIS_3, GRIS_4, GRIS_5 = '#5a5858', '#8c8a8a', '#b0aeae', '#d3d1d1', '#eae7e6' 
AZUL_1, AZUL_2, AZUL_3, AZUL_4, AZUL_5 = '#0d1b3d', '#152a55', '#1e3a6c', '#274a84', '#315aa0' 
CREMA_1, CREMA_2, CREMA_3, CREMA_4, CREMA_5 = '#FCB53B', '#FDB860', '#FDC584', '#FDD2A9', '#FDE0CE'

# <font color='#315aa0'>**Extracción de datos**</font>

In [5]:
df_clients = pd.read_parquet(DATA_PATH/'clients.parquet')
df_clients

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,ExitDate,cluster_label,vulnerability_tier,vulnerability_score
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,2025-08-15,Clientes potenciales,Medium,2
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,NaT,Standard,Medium,2
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,2025-09-27,VIP,Medium,2
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,NaT,Nuevos - Poco Valor,Medium,2
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,NaT,Standard,Medium,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9635,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,NaT,Clientes potenciales,Medium,2
9636,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,NaT,Valioso - Bajo compromiso,Medium,2
9637,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1,2025-08-10,Nuevos - Poco Valor,Medium,2
9638,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,2025-08-20,Standard,Medium,2
9639,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,NaT,Nuevos - Poco Valor,High,3

In [6]:
df_clients = df_clients[df_clients['Exited'] == 0]
df_clients

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,ExitDate,cluster_label,vulnerability_tier,vulnerability_score
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,NaT,Standard,Medium,2
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,NaT,Nuevos - Poco Valor,Medium,2
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,NaT,Standard,Medium,2
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0,NaT,Standard,High,3
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0,NaT,VIP,Medium,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9633,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0,NaT,Nuevos - Poco Valor,High,3
9634,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0,NaT,Clientes potenciales,Low,1
9635,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,NaT,Clientes potenciales,Medium,2
9636,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,NaT,Valioso - Bajo compromiso,Medium,2
9639,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,NaT,Nuevos - Poco Valor,High,3

In [7]:
cids = df_clients['CustomerId'].unique()
will_exit = df_clients.sample(frac=0.05, random_state=RANDOM_SEED)
will_exit

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,ExitDate,cluster_label,vulnerability_tier,vulnerability_score
3022,3122,15593715,Castiglione,634,Germany,Male,27,3,107027.52,1,1,0,173425.68,0,NaT,Clientes potenciales,Low,1
8230,8543,15647546,Carvosso,688,Germany,Female,40,8,150679.71,2,0,1,196226.38,0,NaT,VIP,Low,1
8010,8314,15750121,Tung,639,France,Male,38,3,0.00,1,1,0,42862.82,0,NaT,Nuevos - Poco Valor,Medium,2
9570,9931,15713604,Rossi,425,Germany,Male,40,9,166776.60,2,0,1,172646.88,0,NaT,VIP,Low,1
7044,7308,15782159,Ndubuagha,850,France,Male,28,8,67639.56,2,1,1,194245.29,0,NaT,Standard,Low,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6476,6723,15750602,Clendinnen,662,France,Male,29,5,147092.65,1,1,0,10928.30,0,NaT,Nuevos - Poco Valor,High,3
6162,6395,15602845,Udinesi,466,Germany,Male,41,2,152102.18,2,1,0,181879.56,0,NaT,VIP,Low,1
804,830,15639788,Yuan,577,France,Female,39,10,0.00,2,1,0,10553.31,0,NaT,Standard,High,3
1997,2061,15747980,Cattaneo,737,Spain,Male,38,6,146282.79,2,1,0,198516.20,0,NaT,VIP,Low,1
1660,1713,15744983,Burgmann,712,Spain,Male,47,1,139887.01,1,1,1,95719.73,0,NaT,Standard,Medium,2

In [8]:
will_exit_cids = will_exit['CustomerId']

In [9]:
df_clients_man = df_clients.copy()

In [10]:
df_clients_man.drop(['Exited', 'ExitDate'], axis=1, inplace=True)

In [11]:
df_clients_man['Will Exit'] = df_clients_man['CustomerId'].isin(will_exit_cids).astype(int)

In [12]:
df_clients_man['Will Exit'].sum()

384

In [13]:
fechas = pd.date_range(start='2025-10-01', end='2025-12-31', freq="D")

In [14]:
fechas_abandono = pd.date_range(start='2025-11-15', end='2025-12-31', freq="D")

In [15]:
import random

np.random.seed(RANDOM_SEED)

abandono_cust = []

for exited in df_clients_man['Will Exit']:
    if exited == 1:
        if random.random() < 0.7:
            # 70% de churners en los últimos 45 días
            rand_idx = int(np.random.triangular(0, len(fechas_abandono)-1, len(fechas_abandono)-1))
            abandono_cust.append(fechas_abandono[rand_idx])
        else:
            # 30 % churners en cualquier fecha del período
            abandono_cust.append(random.choice(fechas))
    else:
        abandono_cust.append(np.nan)


df_clients_man['Expected Date'] = abandono_cust

In [16]:
df_clients_man.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7684 entries, 1 to 9639
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   RowNumber            7684 non-null   int64
 1   CustomerId           7684 non-null   int64
 2   Surname              7684 non-null   object
 3   CreditScore          7684 non-null   int64
 4   Geography            7684 non-null   object
 5   Gender               7684 non-null   object
 6   Age                  7684 non-null   int64
 7   Tenure               7684 non-null   int64
 8   Balance              7684 non-null   float64
 9   NumOfProducts        7684 non-null   int64
 10  HasCrCard            7684 non-null   int64
 11  IsActiveMember       7684 non-null   int64
 12  EstimatedSalary      7684 non-null   float64
 13  cluster_label        7684 non-null   object
 14  vulnerability_tier   7684 non-null   category
 15  vulnerability_score  7684 non-null   int64
 16  Will Exit            7684 non-null   int32
 17  Expected Date        384 non-null    datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(2), int32(1), int64(9), object(4)
memory usage: 1.0+ MB

In [17]:
df_tx = pd.read_parquet(DATA_PATH/'transactions.parquet')

In [18]:
df_tx.head()

,date,CustomerId,type,amount,amount_label,type_freq,frequency_label,amount_score,freq_score,tran_score,tran_score_cont,tran_label,max_tx_cap,amount_clipped,amount_ratio,amount_scaled
0,2023-09-19,15588235,PAYMENT,3118.04,Low,0.338146,Medium,1,2,3,1.300003,Low,133769.712573,3118.04,0.001652,220.96
1,2023-09-19,15810075,PAYMENT,12041.78,Medium,0.338146,Medium,2,2,4,2.000013,Medium,136208.837454,12041.78,0.007176,977.37
2,2023-09-19,15683416,CASH_OUT,297886.62,High,0.351663,High,3,3,6,3.000322,VIP,139480.782683,297886.62,0.184111,25679.97
3,2023-09-19,15589475,CASH_OUT,149069.01,Medium,0.351663,High,2,3,5,2.300161,High,134882.220781,149069.01,0.091994,12408.39
4,2023-09-19,15585892,PAYMENT,468.75,Low,0.338146,Medium,1,2,3,1.300001,Low,137163.469190,468.75,0.000012,1.64

In [19]:
qty_tx = len(df_tx)

In [20]:
tx_month_1 = df_tx.sample(frac=0.03, random_state=111)
tx_month_2 = df_tx.sample(frac=0.07, random_state=222)
tx_month_3 = df_tx.sample(frac=0.05, random_state=333)

In [21]:
future_tx = pd.concat([tx_month_1, tx_month_2, tx_month_3])

In [22]:
tx_month_1.columns

Index(['date', 'CustomerId', 'type', 'amount', 'amount_label', 'type_freq',
       'frequency_label', 'amount_score', 'freq_score', 'tran_score',
       'tran_score_cont', 'tran_label', 'max_tx_cap', 'amount_clipped',
       'amount_ratio', 'amount_scaled'],
      dtype='object')

In [23]:
future_tx.drop(['date', 'CustomerId', 'amount', 'amount_label', 'type_freq',
       'frequency_label', 'amount_score', 'freq_score', 'tran_score', 
       'tran_score_cont','max_tx_cap', 'amount_clipped', 'amount_ratio'],
                axis=1,
                inplace=True)

In [24]:
future_tx.rename(columns={'amount_scaled': 'amount'}, inplace=True)

In [25]:
def generate_random_pcts_table(random_seed: int,
                               col_totals: np.array):

    np.random.seed(random_seed)  

    n_clusters = 5
    n_labels = 4
    
    # Totales por columna
    col_totals = col_totals
    print(f'Total por columna:\n{col_totals}\n\n')
    # Generar valores aleatorios 5x4
    random_values = np.random.rand(n_clusters, n_labels)
    
    # Normalizar **verticalmente** para que cada columna sume 1
    random_matrix = random_values / random_values.sum(axis=0, keepdims=True)
    #print(f'Matriz antes de escalar:\n{random_matrix}\n\n')
    
    # Escalar por los totales deseados
    random_matrix = random_matrix * col_totals
    
    print(f'Matriz después de escalar:\n{random_matrix}\n\n')
    
    labels = ['Low', 'Medium', 'High', 'VIP']
    clusters = ['Nuevos - Poco Valor', 'Clientes potenciales', 'Standard', 'Valioso - Bajo compromiso', 'VIP']
    
    # Crear diccionario final
    random_pct_table = {}
    for i, cluster in enumerate(clusters):
        random_pct_table[cluster] = random_matrix[i]
    
    return random_pct_table

In [26]:
def transaction_label_split(df: pd.core.frame.DataFrame,
                            random_table_seed: int,
                            control_seed: int,
                            deterministic_prop: float
                            ):


    np.random.seed(control_seed)

    total_tx = df.shape[0]
    print(f'Total transacciones:\n{total_tx}\n\n')
    
    

    #print(f'Total columnas proporciones:\n{col_totals}\n\n')
    
    # Tabla de distribución de transacciones
    pct_table = {
     'Nuevos - Poco Valor':      [0.10, 0.03, 0.01, 0.005],
     'Clientes potenciales':     [0.08, 0.08, 0.03, 0.01],
     'Standard':                 [0.065,0.05, 0.07, 0.01],
     'Valioso - Bajo compromiso':[0.075,0.08, 0.04, 0.01],
     'VIP':                      [0.01, 0.03, 0.15, 0.065]
    }
    labels = ['Low','Medium','High','VIP']

    label_proportions = df['tran_label'].value_counts(normalize=True)
    # Reindexar para asegurar el orden y llenar con 0 si falta alguna etiqueta
    label_proportions = label_proportions.reindex(labels, fill_value=0)
    # Obtener los valores en el orden correcto
    col_totals = label_proportions.values

    random_pcts_table = generate_random_pcts_table(random_seed=random_table_seed,
                                                   col_totals=col_totals)

    #print(f'Random Percentages Table:\n{random_pcts_table}\n\n')

    according_tx = int(total_tx * deterministic_prop)
    print(f'Cantidad de transacciones asignadas de forma determinística:\n{according_tx}\n\n')
    remaining = total_tx - according_tx
    print(f'Cantidad de transacciones a asiganar de forma aleatoria:\n{remaining}\n\n')

    # Cantidad de transacciones que se asignarán a cada tipo de cliente
    cell_counts = {}
    for cluster, probs in pct_table.items():
        # Se utiliza according_tx ([deterministic_prop]% del total de transacciones) para transacciones asignadas de forma determinística
        counts = (np.array(probs) * according_tx).round().astype(int)
        cell_counts[cluster] = dict(zip(labels, counts))
    
    #print(f'Deterministic Transaction Label Assignations:\n{cell_counts}\n\n')



    np.random.seed(RANDOM_SEED)

    random_cell_counts = {}
    
    for cluster, probs in random_pcts_table.items():
        # Se asigna el % restante de transacciones utilizando la tabla de probabilidades con valores 
        # generados de manera aleatoria para introducir ruido
        counts = (np.array(probs) * remaining).round().astype(int)
        random_cell_counts[cluster] = dict(zip(labels, counts))

    #print(f'Random Transaction Label Assignations:\n{random_cell_counts}\n\n')



    # Corroborar la suma de valores de la matriz con valores aleatorios
    total_pcts_random = 0
    row_pcts_random = []
    
    for key, value in random_pcts_table.items():
        row_random = value.sum()
        total_pcts_random += row_random
        row_pcts_random.append(row_random)
    print(f'Probabilidad total de random percentage table:\n{total_pcts_random}\n\n')
    print(f'Cantidad de transacciones por cluster de cliente:\n{row_pcts_random}\n\n')
    
    total_txs = {}

    for cluster in cell_counts.keys():
        total_txs[cluster] = {}
        for label in cell_counts[cluster].keys():
            total_txs[cluster][label] = cell_counts[cluster][label] + random_cell_counts[cluster][label]

    # Resultado
    #print(f'Asignaciones totales de transacciones:\n{total_txs}\n\n')
    
    ttltx = 0
    for key, subkey in total_txs.items():
        for value in subkey.values():
            ttltx += value
    print(f'Total transacciones asignadas\n{ttltx}\n\n')    


    control_totales = {'Low': 0, 'Medium': 0, 'High': 0, 'VIP': 0}
    for cluster in total_txs.values():
        for tran_label, cantidad in cluster.items():
            control_totales[tran_label] += cantidad
    print(f'Cantidad por label:\n{control_totales}\n\n')
    
    return total_txs

In [27]:
txs = transaction_label_split(df=future_tx,
                             deterministic_prop=0.75,
                             random_table_seed=1,
                             control_seed=RANDOM_SEED)

Total transacciones:
954393


Total por columna:
[0.32918619 0.27044519 0.30023167 0.10013695]


Matriz después de escalar:
[[8.67583118e-02 6.98666569e-02 4.44032128e-05 1.37506975e-02]
 [3.05314664e-02 8.95622595e-03 7.23109510e-02 1.57168015e-02]
 [8.25445081e-02 5.22616185e-02 1.62741971e-01 3.11651701e-02]
 [4.25347627e-02 8.51715168e-02 1.06325602e-02 3.04942198e-02]
 [8.68171457e-02 5.41891758e-02 5.45017798e-02 9.01005679e-03]]


Cantidad de transacciones asignadas de forma determinística:
715794


Cantidad de transacciones a asiganar de forma aleatoria:
238599


Probabilidad total de random percentage table:
1.0


Cantidad de transacciones por cluster de cliente:
[0.17042006943756366, 0.12751544482845606, 0.3287132681204734, 0.1688330594807762, 0.20451815813273067]


Total transacciones asignadas
954397


Cantidad por label:
{'Low': 314756, 'Medium': 257794, 'High': 286374, 'VIP': 95473}

In [28]:
def transactions_customer_assignation(df_clients,
                                      df_txs,
                                      ttl_txs,
                                      weights_noise_sigma: float=0.2,
                                      control_seed: int=42):

    np.random.seed(control_seed)
    
    # (necesario en caso de correr la celda varias veces)
    if 'df_alloc' in locals():
        del df_alloc
        
    tenure_max = df_clients['Tenure'].max()
    
    for cluster, label_counts in ttl_txs.items():
        clients_in_cluster = df_clients[df_clients['cluster_label'] == cluster].copy()
        n_clients = len(clients_in_cluster)
        if n_clients == 0:
            continue
    
        client_ids = clients_in_cluster['CustomerId'].values
        
        # Factor de peso dinámico en relación a la antigüedad del cliente
        tenure_factor = clients_in_cluster['Tenure'] / tenure_max
    
        # Ajuste según churn (clientes que se fueron menores probabilidades de obtener transacciones)
        weights = np.where(
            clients_in_cluster['CustomerId'].isin(will_exit_cids),
            tenure_factor * 0.7,   # clientes que se irán (artificial)
            tenure_factor * 1.0    # clientes que no se irán
        )
        
    
        # Generar un array de ruido para todas las ponderaciones
        noise_factor = np.random.normal(loc=1.0, scale=weights_noise_sigma, size=len(weights))
        
        # Aplicar el ruido
        weights = weights * noise_factor
        
        # Asegurar que no haya pesos negativos
        weights = np.clip(weights, a_min=0.0001, a_max=None) 
    
        # Normalizamos para la distribución multinomial
        weights = weights / weights.sum()
    
        for label, count in label_counts.items():
            if count <= 0:
                continue
    
            allocated = np.random.multinomial(count, weights)
            tmp = pd.DataFrame({'CustomerId': client_ids, 'alloc': allocated})
            tmp = tmp[tmp['alloc'] > 0].copy()
            tmp['label'] = label
    
            if 'df_alloc' not in locals():
                df_alloc = tmp.copy()
            else:
                df_alloc = pd.concat([df_alloc, tmp], ignore_index=True)

    # Explotar la cantidad de transacciones para cada cliente en un dataframe que contenga 1 fila por transacción
    rows = []
    for r in df_alloc.itertuples(index=False):
        # Vectorizar repeticiones
        rows.append(pd.DataFrame({
            'CustomerId': np.repeat(r.CustomerId, r.alloc),
            'tran_label': np.repeat(r.label, r.alloc)
        }))
    assignments = pd.concat(rows, ignore_index=True)


          
    # Shuffle en assignments para evitar patrones no intencionales
    assignments = assignments.sample(frac=1, random_state=RANDOM_SEED).reset_index(drop=True)
    
    # Crear pool de transacciones
    df_tx = df_txs.sample(frac=1, random_state=RANDOM_SEED).reset_index(drop=True)
    tx_pools = {lab: grp.reset_index(drop=True) for lab, grp in df_tx.groupby('tran_label')}


    #print(f'Pool de transacciones:\n{tx_pools}\n\n')
  
    assigned_records = []
    
    print('--- Iniciando asignación de transacciones ---')
    for label, pool in tqdm(tx_pools.items(), desc='Asignando transacciones a clientes: '):
        # Cantidad REAL disponible en el pool para este label
        available_in_pool = len(pool)
    
        # Cantidad CALCULADA que se necesita para este label
        needed_by_assignments = (assignments['tran_label'] == label).sum()
    
        # Establecer mínimo entre disponibles y necesarias
        num_to_assign = min(available_in_pool, needed_by_assignments)
    
        # --- Manejo de casos edge y advertencias ---
        if available_in_pool == 0 and needed_by_assignments > 0:
            print(f"Advertencia: Se necesitan {needed_by_assignments} para '{label}', pero el pool está vacío. Se omitirán.")
            continue # Saltar al siguiente label
        elif available_in_pool > 0 and needed_by_assignments == 0:
            # Esto no debería pasar si assignments se generó correctamente, pero por si acaso
            print(f"Info: Hay {available_in_pool} disponibles para '{label}', pero no se necesitan. Se omitirán.")
            continue # Saltar al siguiente label
        elif num_to_assign == 0:
             # Caso donde ambos son 0
             print(f"Info: No hay transacciones disponibles ni necesitadas para '{label}'.")
             continue
        elif available_in_pool != needed_by_assignments:
            print(f"Ajuste para '{label}': Necesitadas={needed_by_assignments}, Disponibles={available_in_pool}. Se asignarán {num_to_assign}.")
        # --- Fin manejo de casos edge ---
    
        # Tomar el slice del pool (hasta el número que realmente asignaremos)
        pool_slice = pool.iloc[:num_to_assign].copy() # No resetear index aquí todavía
    
        # Obtener SOLO los primeros 'num_to_assign' clientes que necesitan este label del df_clients mezclado
        clients = assignments[assignments['tran_label'] == label]['CustomerId'].iloc[:num_to_assign].values
    
        # Doble chequeo de seguridad (deberían coincidir)
        if len(pool_slice) != len(clients):
            raise ValueError(
                f"Error crítico de longitud para '{label}' después del ajuste: "
                f"pool_slice tiene {len(pool_slice)} filas, pero se seleccionaron {len(clients)} clientes."
            )
    
        # Asignar los CustomerId al slice
        pool_slice['CustomerId'] = clients
        assigned_records.append(pool_slice)
    
    # Concatenar todos los slices al final
    if assigned_records: # Asegurarse de que la lista no esté vacía
        final_assigned_df = pd.concat(assigned_records, ignore_index=True)
        print(f"\n--- Asignación completada ---")
        print(f"Total de transacciones asignadas finalmente: {len(final_assigned_df)}")
    else:
        print("\n--- Asignación completada ---")
        print("No se asignaron transacciones.")
        final_assigned_df = pd.DataFrame() # Crear un DataFrame vacío si no hubo asignaciones

    return final_assigned_df

In [29]:
future_tx.head()

             type tran_label    amount
448076    PAYMENT       High   4718.39
5810245  CASH_OUT        VIP  16748.35
5727250   PAYMENT     Medium   1369.61
5296401   CASH_IN     Medium  13794.08
310953   CASH_OUT       High  10409.46

In [30]:
assignments = transactions_customer_assignation(df_clients=df_clients_man,
                                                df_txs=future_tx,
                                                ttl_txs=txs,
                                                weights_noise_sigma=0.25,
                                                control_seed=RANDOM_SEED)

--- Iniciando asignación de transacciones ---

Asignando transacciones a clientes:   0%|                                                        | 0/4 [00:00<?, ?it/s]

Ajuste para 'Low': Necesitadas=314756, Disponibles=314173. Se asignarán 314173.

Asignando transacciones a clientes:  50%|████████████████████████                        | 2/4 [00:00<00:00,  4.11it/s]

Ajuste para 'Medium': Necesitadas=257794, Disponibles=258111. Se asignarán 257794.

Asignando transacciones a clientes:  75%|████████████████████████████████████            | 3/4 [00:00<00:00,  4.05it/s]

Ajuste para 'High': Necesitadas=286374, Disponibles=286539. Se asignarán 286374.

Asignando transacciones a clientes: 100%|████████████████████████████████████████████████| 4/4 [00:00<00:00,  4.01it/s]

Ajuste para 'VIP': Necesitadas=95473, Disponibles=95570. Se asignarán 95473.

--- Asignación completada ---
Total de transacciones asignadas finalmente: 953814

In [31]:
assignments

            type tran_label    amount  CustomerId
0        CASH_IN        Low   1165.53    15767339
1       TRANSFER        Low  20355.25    15795963
2        PAYMENT        Low    372.75    15733491
3       CASH_OUT        Low   1246.29    15644686
4       CASH_OUT        Low   1445.55    15682021
...          ...        ...       ...         ...
953809   CASH_IN        VIP  37201.60    15804009
953810  CASH_OUT        VIP  16284.46    15746341
953811  CASH_OUT        VIP  26954.91    15615020
953812  CASH_OUT        VIP  36420.87    15639552
953813  CASH_OUT        VIP  23516.75    15699523

[953814 rows x 4 columns]

In [32]:
def asignacion_fechas_transacciones(df_assignments,
                                    df_clients,
                                    start_date,
                                    end_date,
                                    prob_stop_repentino: float=0.2,
                                    prob_pausa_no_churner: float=0.15,
                                    prob_alza_no_churner: float=0.4,
                                    prob_cliente_irregular: float=0.05,
                                    pausa_dur_min_dias: int=15,
                                    pausa_dur_max_dias: int=45,
                                    control_seed: int=RANDOM_SEED):

    # Reproducibilidad    
    np.random.seed(control_seed)
    
    # --- DEFINICIONES GLOBALES ---
    all_dates = pd.date_range(start_date, end_date, freq='D')
    client_abandon = df_clients.set_index('CustomerId')['Expected Date'].to_dict()
    client_will_exit  = df_clients.set_index('CustomerId')['Will Exit'].to_dict()
    
    # --- HIPERPARÁMETROS DE REALISMO (AJUSTABLES) ---
    # Probabilidad de que un churner se vaya "de golpe" sin mostrar decadencia.
    PROB_STOP_REPENTINO = prob_stop_repentino
    
    # Probabilidad de que un cliente FIEL tenga un período de inactividad.
    PROB_PAUSA_NO_CHURNER = prob_pausa_no_churner
    PROB_NO_CHURNER_ALZA = prob_alza_no_churner
    PROB_CLIENTE_IRREGULAR = prob_cliente_irregular
    
    # Rango de duración de la pausa para clientes fieles (en días).
    PAUSA_DURACION_MIN_DIAS = pausa_dur_min_dias
    PAUSA_DURACION_MAX_DIAS = pausa_dur_max_dias
    
    
    def sample_dates_for_client(n, cid):
        """
        Asigna fechas a 'n' transacciones para un cliente 'cid' con una lógica realista y con ruido.
        """
        # Generar pesos con ruido dependiendo dirección
        def create_noisy_weights(dates_array, direction='increasing', noise_scale=0.3):
            if len(dates_array) == 0:
                return None, None # Devuelve None si no hay fechas
                
            if direction == 'increasing':
                trend = np.linspace(start=0.5, stop=1.5, num=len(dates_array))
            else: # decreasing
                trend = np.linspace(start=1.5, stop=0.5, num=len(dates_array))
            
            noise = np.random.normal(loc=0, scale=noise_scale, size=len(dates_array))
            weights = trend + noise
            weights[weights < 0] = 0
            
            # Evitar error si todos los pesos son 0
            if np.sum(weights) == 0:
                weights = np.ones(len(dates_array))
                
            weights /= np.sum(weights)
            return dates_array, weights
    
        # --- CASO 1: CLIENTE NO-CHURNER ---
        if client_will_exit.get(cid, 0) == 0:
            
            # Sub-caso 1.1: Cliente Leal CON PAUSA
            if np.random.rand() < PROB_PAUSA_NO_CHURNER:
                
                duracion_pausa = np.random.randint(PAUSA_DURACION_MIN_DIAS, PAUSA_DURACION_MAX_DIAS)
                
                if len(all_dates) > duracion_pausa:
                    start_offset = np.random.randint(0, len(all_dates) - duracion_pausa)
                    pausa_inicio = all_dates[start_offset]
                    pausa_fin = pausa_inicio + pd.Timedelta(days=duracion_pausa)
                    fechas_disponibles = all_dates[(all_dates < pausa_inicio) | (all_dates > pausa_fin)]
                else:
                    fechas_disponibles = all_dates
    
                noise_param = 0.7 if np.random.rand() < PROB_CLIENTE_IRREGULAR else 0.3
                direction_param = 'increasing' if np.random.rand() < PROB_NO_CHURNER_ALZA else 'decreasing'
             
                dates, p = create_noisy_weights(fechas_disponibles, direction=direction_param, noise_scale=noise_param)
                
                if dates is not None:
                    return np.random.choice(dates, size=n, replace=True, p=p)
                    
            # Sub-caso 1.2: Cliente Leal SIN PAUSA        
            else:
                # Comportamiento para cliente sin pausa
                noise_param = 0.7 if np.random.rand() < PROB_CLIENTE_IRREGULAR else 0.3
                direction_param = 'increasing' if np.random.rand() < PROB_NO_CHURNER_ALZA else 'decreasing'
                
                # Dado que no tiene pausa se utiliza all_dates
                dates, p = create_noisy_weights(all_dates, direction=direction_param, noise_scale=noise_param)
                return np.random.choice(dates, size=n, replace=True, p=p)
    
        # --- CASO 2: CLIENTE QUE SE IRÁ ---
        else:
            expected_date = client_abandon.get(cid)
            if pd.isna(expected_date):
                return np.random.choice(all_dates, size=n, replace=True)
    
            active_dates = all_dates[all_dates <= expected_date]
            if len(active_dates) == 0:
                return np.random.choice(all_dates, size=n, replace=True)
    
            # Sub-caso 2.1: Churner REPENTINO
            if np.random.rand() < PROB_STOP_REPENTINO:
                # Actividad creciente HASTA la fecha de salida
                if np.random.rand() < PROB_CLIENTE_IRREGULAR:
                    dates, p = create_noisy_weights(active_dates, direction='increasing', noise_scale=0.7)
                else:
                    dates, p = create_noisy_weights(active_dates, direction='increasing')
                return np.random.choice(dates, size=n, replace=True, p=p)
                
            # Sub-caso 2.2: Churner CON DECADENCIA
            else:
                # Actividad decreciente ANTES de la fecha de salida
                if np.random.rand() < PROB_CLIENTE_IRREGULAR:
                    dates, p = create_noisy_weights(active_dates, direction='decreasing', noise_scale=0.7)
                else:
                    dates, p = create_noisy_weights(active_dates, direction='decreasing')
                return np.random.choice(dates, size=n, replace=True, p=p)
    
    # --- BUCLE DE APLICACIÓN ---
    df_assignments['date'] = None
    grouped = df_assignments.groupby('CustomerId').size().reset_index(name='n_tx')
    
    for cid, n in tqdm(grouped.values, desc="Asignando fechas"):
        dates = sample_dates_for_client(n, cid)
        df_assignments.loc[df_assignments['CustomerId'] == cid, 'date'] = dates

    df_assignments['date'] = pd.to_datetime(df_assignments['date'])
    return df_assignments

In [33]:
df_tx_assigned = asignacion_fechas_transacciones(df_assignments=assignments,
                                                 df_clients=df_clients_man,
                                                 start_date='2025-10-01',
                                                 end_date='2025-12-31',
                                                 prob_stop_repentino=0.15,
                                                 prob_pausa_no_churner=0.15,
                                                 prob_alza_no_churner=0.35,
                                                 prob_cliente_irregular=0.1,
                                                 control_seed=505)

Asignando fechas: 100%|██████████████████████████████████████████████████████████| 7646/7646 [00:07<00:00, 1004.77it/s]

In [34]:
df_tx_assigned.sort_values(by='date', inplace=True)

In [39]:
df_tx_assigned.reset_index(drop=True, inplace=True)

In [40]:
np.random.seed(RANDOM_SEED)

# 1. Define el tamaño del array de ruido
num_rows = len(df_tx_assigned) 
noise_factor = 0.25 # +/- 25%

# 2. Genera ruido uniforme entre -noise_factor y +noise_factor
# np.random.uniform genera números flotantes aleatorios en el rango [low, high)
random_noise = np.random.uniform(low=-noise_factor, high=noise_factor, size=num_rows)

# 3. Crea el factor multiplicativo (entre 1 - noise_factor y 1 + noise_factor)
multiplicative_factor = 1 + random_noise

# 4. Aplica el ruido multiplicativo a la columna 'amount'
df_tx_assigned['amount'] = df_tx_assigned['amount'] * multiplicative_factor

# (Opcional) Si los montos NUNCA deben ser negativos (ej. transacciones)
df_tx_assigned['amount'] = df_tx_assigned['amount'].clip(lower=0)

In [41]:
df_tx_assigned

            type tran_label        amount  CustomerId       date
0        PAYMENT     Medium    690.797730    15788189 2025-10-01
1       CASH_OUT        VIP  33029.249614    15806210 2025-10-01
2        CASH_IN     Medium   8512.296823    15769783 2025-10-01
3       TRANSFER        Low   1419.076176    15716357 2025-10-01
4       CASH_OUT       High   5345.351406    15600692 2025-10-01
...          ...        ...           ...         ...        ...
953809  CASH_OUT        Low   3452.489933    15688612 2025-12-31
953810  CASH_OUT       High   6539.124273    15704466 2025-12-31
953811   PAYMENT     Medium   1066.508319    15632069 2025-12-31
953812  CASH_OUT       High  14402.391563    15573971 2025-12-31
953813   PAYMENT       High   1885.101007    15615330 2025-12-31

[953814 rows x 5 columns]

In [43]:
df_tx_assigned['CustomerId'].nunique()

7646

In [44]:
df_clients_man['CustomerId'].nunique()

7684

In [42]:
df_tx_assigned.drop('tran_label', axis=1, inplace=True)

In [65]:
import numpy as np
import pandas as pd
from datetime import datetime
import uuid

# --- REPRODUCIBILIDAD ---
RNG = np.random.default_rng(RANDOM_SEED)


# --- FECHAS ---
start_date = '2025-10-01'
end_date = '2025-12-31'

# --- CONFIGURACIÓN GLOBAL DE RUIDO ---
# Estos parámetros añaden variabilidad y realismo al comportamiento de los usuarios.
LAMBDA_NOISE_SIGMA = 0.15 # Variabilidad en la actividad mensual de cada cliente.
DECAY_NOISE_SIGMA = 0.17   # Variabilidad en el decaimiento de actividad de los churners.
PROB_NOISE_SIGMA = 0.20    # Variabilidad en las acciones que realiza un usuario en cada sesión.

# --- DEFINICIONES DE TIEMPO Y CLUSTERS ---
# (Asegurarse de que 'start_date' y 'end_date' estén definidas previamente)
freq = "M"  # Agruparemos la actividad por Meses.
months = pd.period_range(start=start_date, end=end_date, freq=freq).to_timestamp('M')

# nombres de clusters según tu df_clients_man
clusters = [
    "Nuevos - Poco Valor",
    "Clientes potenciales",
    "Standard",
    "Valioso - Bajo compromiso",
    "VIP"
]

# parámetros base por cluster (ejemplo; ajustalos)
cluster_params = {
    "Nuevos - Poco Valor": {
        "base_sessions_per_month": 2.2,
        "duration_mu": 2.0,  # log-normal mu
        "duration_sigma": 0.6,
        "p_transfer": 0.02,
        "p_payment": 0.05,
        "p_invest": 0.01,
        "p_push_open": 0.10,
        "p_failed_login": 0.01,
    },
    "Clientes potenciales": {
        "base_sessions_per_month": 3.4,
        "duration_mu": 2.3,
        "duration_sigma": 0.7,
        "p_transfer": 0.06,
        "p_payment": 0.08,
        "p_invest": 0.02,
        "p_push_open": 0.15,
        "p_failed_login": 0.02,
    },
    "Standard": {
        "base_sessions_per_month": 4.3,
        "duration_mu": 2.7,
        "duration_sigma": 0.8,
        "p_transfer": 0.10,
        "p_payment": 0.12,
        "p_invest": 0.03,
        "p_push_open": 0.18,
        "p_failed_login": 0.03,
    },
    "Valioso - Bajo compromiso": {
        "base_sessions_per_month": 3.8,
        "duration_mu": 2.6,
        "duration_sigma": 0.8,
        "p_transfer": 0.12,
        "p_payment": 0.10,
        "p_invest": 0.05,
        "p_push_open": 0.12,
        "p_failed_login": 0.02,
    },
    "VIP": {
        "base_sessions_per_month": 8.3,
        "duration_mu": 3.0,
        "duration_sigma": 0.9,
        "p_transfer": 0.25,
        "p_payment": 0.20,
        "p_invest": 0.15,
        "p_push_open": 0.35,
        "p_failed_login": 0.01,
    }
}


# --- PARÁMETROS DE COMPORTAMIENTO DE CHURN Y TENURE ---
prob_stop_repentino_app = 0.20 # 20% de los churners se irán "de golpe".
last_n_months_decay = 3       # Ventana de 6 meses donde la actividad de un churner decae.
decay_final_frac = 0.1       # La actividad cae hasta un 10% de lo normal justo antes de irse.
tenure_max = df_clients_man['Tenure'].max()
tenure_weight = 0.5           # Influencia de la antigüedad del cliente en su actividad.

# ==============================================================================
# === (NUEVO) HIPERPARÁMETROS DE PAUSA PARA NO CHURNERS ===
# ==============================================================================
PROB_PAUSA_NO_CHURNER_APP = 0.2  # 15% de los clientes fieles tendrán una pausa.
PAUSA_DURACION_MIN_MESES = 0.5       # Duración mínima de la pausa en meses.
PAUSA_DURACION_MAX_MESES = 1.5      # Duración máxima de la pausa en meses.
# ==============================================================================

# --- 1) PREPARAR BASE CLIENTE x MES ---
clients = df_clients_man[['CustomerId','cluster_label','Will Exit','Expected Date','Tenure']].copy()
clients['Tenure'] = clients['Tenure'].astype(float)

# Crear tabla con una fila por cada cliente y cada mes de la simulación.
cust_ids = clients['CustomerId'].values
n_cust = len(cust_ids)
n_months = len(months)
grid = pd.DataFrame({
    'CustomerId': np.repeat(cust_ids, n_months),
    'month': np.tile(months.to_numpy(), n_cust)
})
grid = grid.merge(clients, on='CustomerId', how='left')

# Mapa de churners repentinos (sin cambios).
churners_repentinos = (RNG.random(len(clients[clients['Will Exit'] == 1])) < prob_stop_repentino_app)
client_repentino_map = clients[clients['Will Exit'] == 1].set_index('CustomerId').assign(is_repentino=churners_repentinos)['is_repentino'].to_dict()


# ==============================================================================
# ===     PRE-CÁLCULO DE LAS PAUSAS DE ACTIVIDAD PARA CLIENTES FIELES        ===
# ==============================================================================
# 1. Seleccionar qué clientes no-churners tendrán una pausa.
no_churners = clients[clients['Will Exit'] == 0].copy()
clientes_con_pausa_ids = no_churners.sample(frac=PROB_PAUSA_NO_CHURNER_APP, random_state=RANDOM_SEED)['CustomerId']

# 2. Para cada cliente seleccionado, definir el inicio y fin de su pausa.
pause_info = []
total_meses = len(months)
for cid in clientes_con_pausa_ids:
    duracion_pausa = np.random.randint(PAUSA_DURACION_MIN_MESES, PAUSA_DURACION_MAX_MESES + 1)
    if total_meses > duracion_pausa:
        start_offset = np.random.randint(0, total_meses - duracion_pausa)
        pausa_inicio = months[start_offset]
        pausa_fin = months[start_offset + duracion_pausa - 1]
        pause_info.append({'CustomerId': cid, 'pause_start': pausa_inicio, 'pause_end': pausa_fin})

# 3. Unir la información de las pausas a la tabla principal `grid`.
if pause_info:
    df_pausas = pd.DataFrame(pause_info)
    grid = grid.merge(df_pausas, on='CustomerId', how='left')
else:
    grid['pause_start'] = pd.NaT
    grid['pause_end'] = pd.NaT

grid['pause_start'] = grid['pause_start'].fillna(pd.NaT)
grid['pause_end'] = grid['pause_end'].fillna(pd.NaT)
# ==============================================================================


# --- FUNCIÓN DE CÁLCULO DE ACTIVIDAD MENSUAL ---
def compute_lambda_row(row):
    params = cluster_params.get(row['cluster_label'], cluster_params['Standard'])
    
    # Cálculo de Lambda Base con ruido (sin cambios).
    base_lam = params['base_sessions_per_month']
    tenure_factor = (row['Tenure'] / tenure_max) * tenure_weight
    mean_lam = base_lam * (1 + tenure_factor)
    noise_factor_base = np.clip(RNG.normal(loc=1.0, scale=LAMBDA_NOISE_SIGMA), 0.5, 2.0)
    lam = max(0.01, mean_lam * noise_factor_base)

    # ==========================================================================
    # ===                LÓGICA PARA NO-CHURNERS CON PAUSAS                  ===
    # ==========================================================================
    if row['Will Exit'] == 0:
        is_in_pause = pd.notna(row['pause_start']) and (row['month'] >= row['pause_start']) and (row['month'] <= row['pause_end'])
        
        if is_in_pause:
            return 0.0  # Si está en pausa, la actividad de este mes es CERO.
        else:
            return lam  # Si no, tiene su actividad normal.
    # ==========================================================================
            
    # --- LÓGICA PARA CHURNERS (Sin cambios) ---
    else: # (row['Will Exit'] == 1)
        exit_date = pd.to_datetime(row['Expected Date'])
        month_end = row['month'] + pd.offsets.MonthEnd(0)
        
        if month_end >= exit_date:
            return 0.0
        
        is_repentino = client_repentino_map.get(row['CustomerId'], False)
        if is_repentino:
            return lam
        else:
            months_before = int(((exit_date.to_period('M') - row['month'].to_period('M')).n))
            if months_before <= last_n_months_decay and months_before > 0:
                frac = months_before / float(last_n_months_decay)
                base_decay_factor = (decay_final_frac + (1 - decay_final_frac) * frac)
                noise_decay_factor = np.clip(RNG.normal(loc=1.0, scale=DECAY_NOISE_SIGMA), 0.5, 1.5)
                lam = lam * base_decay_factor * noise_decay_factor
                return max(0.01, lam)
    
    return lam # Devuelve el lambda para los meses de churners fuera de la ventana de decaimiento


# --- APLICACIÓN DE LA FUNCIÓN Y GENERACIÓN DE DATOS (SIN CAMBIOS) ---

# Aplicar la función mejorada para calcular la actividad mensual de cada cliente.
grid['lambda'] = grid.apply(compute_lambda_row, axis=1)

# 3) Samplear el número de sesiones por cliente-mes usando una distribución de Poisson.
grid['n_sessions'] = RNG.poisson(grid['lambda'].values)

# Eliminar meses sin actividad para optimizar memoria.
grid = grid[grid['n_sessions'] > 0].reset_index(drop=True)

# 4) Expandir a nivel de sesión.
rep_counts = grid['n_sessions'].values
total_sessions = rep_counts.sum()
print(f"Total sesiones generadas: {total_sessions:,}")

session_customer = np.repeat(grid['CustomerId'].values, rep_counts)
session_month = np.repeat(grid['month'].values.astype('datetime64[ns]'), rep_counts)

# 5) Generar propiedades para cada sesión.
cust_to_cluster = clients.set_index('CustomerId')['cluster_label'].to_dict()
session_cluster = np.vectorize(cust_to_cluster.get)(session_customer)

# Duración de la sesión.
mu_map = {k: v['duration_mu'] for k, v in cluster_params.items()}
sigma_map = {k: v['duration_sigma'] for k, v in cluster_params.items()}
mu_arr = np.vectorize(mu_map.get)(session_cluster)
sigma_arr = np.vectorize(sigma_map.get)(session_cluster)
durations = np.clip(RNG.lognormal(mean=mu_arr, sigma=sigma_arr), 0.5, 180.0)

# Probabilidades base de cada evento.
p_transfer_base = np.vectorize(lambda cl: cluster_params[cl]['p_transfer'])(session_cluster)
p_payment_base  = np.vectorize(lambda cl: cluster_params[cl]['p_payment'])(session_cluster)
p_invest_base   = np.vectorize(lambda cl: cluster_params[cl]['p_invest'])(session_cluster)
p_push_base     = np.vectorize(lambda cl: cluster_params[cl]['p_push_open'])(session_cluster)
p_fail_base     = np.vectorize(lambda cl: cluster_params[cl]['p_failed_login'])(session_cluster)

# Inyectar ruido a las probabilidades.
noise_factors = np.clip(RNG.normal(loc=1.0, scale=PROB_NOISE_SIGMA, size=total_sessions), 0.5, 1.5)
p_transfer = np.clip(p_transfer_base * noise_factors, 0.001, 0.999)
p_payment  = np.clip(p_payment_base * noise_factors, 0.001, 0.999)
p_invest   = np.clip(p_invest_base * noise_factors, 0.001, 0.999)
p_push     = np.clip(p_push_base * noise_factors, 0.001, 0.999)
p_fail     = np.clip(p_fail_base * noise_factors, 0.001, 0.999)

# Muestreo de eventos para cada sesión.
used_transfer = RNG.random(total_sessions) < p_transfer
used_payment  = RNG.random(total_sessions) < p_payment
used_invest   = RNG.random(total_sessions) < p_invest
opened_push   = RNG.random(total_sessions) < p_push
failed_login  = RNG.random(total_sessions) < p_fail

# Asignar fechas aleatorias dentro de cada mes.
month_starts = pd.to_datetime(session_month).to_period('M').to_timestamp()
month_ends = (pd.to_datetime(session_month).to_period('M') + 1).to_timestamp() - pd.Timedelta(days=1)
days_in_month = (month_ends - month_starts).days + 1
rand_days = RNG.integers(0, days_in_month, size=total_sessions)
session_dates = month_starts + pd.to_timedelta(rand_days, unit='D')

# Crear IDs de sesión.
session_ids = np.arange(total_sessions).astype(str)

# Ensamblar el DataFrame final a nivel de sesión.
df_sessions = pd.DataFrame({
    'session_id': session_ids,
    'CustomerId': session_customer,
    'cluster_label': session_cluster,
    'date': session_dates,
    'duration_min': durations,
    'used_transfer': used_transfer.astype(int),
    'used_payment': used_payment.astype(int),
    'used_invest': used_invest.astype(int),
    'opened_push': opened_push.astype(int),
    'failed_login': failed_login.astype(int)
})

# 6) Agregados por cliente a nivel mensual.
df_sessions['month'] = df_sessions['date'].dt.to_period('M').dt.to_timestamp()
agg = df_sessions.groupby(['CustomerId','month']).agg(
    num_sessions = ('session_id','count'),
    total_duration = ('duration_min','sum'),
    avg_session_duration = ('duration_min','mean'),
    pct_transfer = ('used_transfer','mean'),
    pct_payment  = ('used_payment','mean'),
    pct_invest   = ('used_invest','mean'),
    pct_push_open = ('opened_push','mean'),
    n_failed_logins = ('failed_login','sum'),
    last_session = ('date','max')
).reset_index()


# 8) Validaciones y resumen final.
print("\n--- Resumen de Datos Generados ---")
print(f"Sesiones totales: {len(df_sessions):,}")

Total sesiones generadas: 102,711

--- Resumen de Datos Generados ---
Sesiones totales: 102,711

In [66]:
df_sessions.head()

,session_id,CustomerId,cluster_label,date,duration_min,used_transfer,used_payment,used_invest,opened_push,failed_login,month
0,0,15647311,Standard,2025-10-01,37.104169,0,0,0,0,0,2025-10-01
1,1,15647311,Standard,2025-10-01,16.347286,0,0,0,0,0,2025-10-01
2,2,15647311,Standard,2025-10-22,4.217785,0,0,0,0,0,2025-10-01
3,3,15647311,Standard,2025-10-12,6.087640,0,0,0,1,1,2025-10-01
4,4,15647311,Standard,2025-10-02,9.666982,0,0,0,0,0,2025-10-01

In [67]:
df_sessions

,session_id,CustomerId,cluster_label,date,duration_min,used_transfer,used_payment,used_invest,opened_push,failed_login,month
0,0,15647311,Standard,2025-10-01,37.104169,0,0,0,0,0,2025-10-01
1,1,15647311,Standard,2025-10-01,16.347286,0,0,0,0,0,2025-10-01
2,2,15647311,Standard,2025-10-22,4.217785,0,0,0,0,0,2025-10-01
3,3,15647311,Standard,2025-10-12,6.087640,0,0,0,1,1,2025-10-01
4,4,15647311,Standard,2025-10-02,9.666982,0,0,0,0,0,2025-10-01
...,...,...,...,...,...,...,...,...,...,...,...
102706,102706,15628319,Nuevos - Poco Valor,2025-10-06,11.598552,0,0,0,0,0,2025-10-01
102707,102707,15628319,Nuevos - Poco Valor,2025-11-09,15.370683,0,0,0,0,0,2025-11-01
102708,102708,15628319,Nuevos - Poco Valor,2025-11-22,10.436317,0,0,1,0,0,2025-11-01
102709,102709,15628319,Nuevos - Poco Valor,2025-11-28,8.496424,0,0,0,0,0,2025-11-01
102710,102710,15628319,Nuevos - Poco Valor,2025-12-23,17.797747,0,0,0,0,0,2025-12-01

In [68]:
df_clients_man['CustomerId'].nunique(), df_tx_assigned['CustomerId'].nunique(), df_sessions['CustomerId'].nunique()

(7684, 7646, 7394)

In [69]:
df_clients_man['CustomerId'].nunique() -  df_sessions['CustomerId'].nunique()

290

In [70]:
df_sessions[df_sessions['CustomerId'].isin(will_exit_cids)]

,session_id,CustomerId,cluster_label,date,duration_min,used_transfer,used_payment,used_invest,opened_push,failed_login,month
313,313,15706552,Standard,2025-10-30,9.485959,0,0,0,0,0,2025-10-01
314,314,15706552,Standard,2025-10-01,7.802889,0,1,0,0,0,2025-10-01
315,315,15706552,Standard,2025-10-15,7.708721,0,1,0,0,0,2025-10-01
316,316,15706552,Standard,2025-11-28,6.946415,0,0,0,0,0,2025-11-01
317,317,15706552,Standard,2025-11-05,8.441101,1,0,0,0,0,2025-11-01
...,...,...,...,...,...,...,...,...,...,...,...
102446,102446,15695474,Clientes potenciales,2025-10-23,1.891943,0,0,0,0,0,2025-10-01
102447,102447,15695474,Clientes potenciales,2025-11-15,3.912836,0,0,0,1,0,2025-11-01
102654,102654,15798964,Nuevos - Poco Valor,2025-10-08,8.222032,0,1,0,0,0,2025-10-01
102655,102655,15798964,Nuevos - Poco Valor,2025-10-17,7.391751,0,0,0,0,0,2025-10-01
102656,102656,15798964,Nuevos - Poco Valor,2025-10-06,9.983198,0,0,0,0,0,2025-10-01

In [72]:
df_clients_man.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,cluster_label,vulnerability_tier,vulnerability_score,Will Exit,Expected Date
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,Standard,Medium,2,0,NaT
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,Nuevos - Poco Valor,Medium,2,0,NaT
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,Standard,Medium,2,0,NaT
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,Standard,High,3,0,NaT
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,VIP,Medium,2,0,NaT

In [73]:
df_clients_man.drop(['Will Exit', 'Expected Date'], axis=1, inplace=True)

In [74]:
df_clients_man.to_parquet(DATA_PATH/'clients_no_churners.parquet', index=False)
df_tx_assigned.to_parquet(DATA_PATH/'future_transactions.parquet', index=False)
df_sessions.to_parquet(DATA_PATH/'future_app_sessions.parquet', index=False)